@import '~client/scss/tools/mixins/position.scss';
@import '~client/scss/tools/mixins/responsive.scss';

.EggRewards {}

.EggRewards .Tag {
  .Tag-Title,
  .PokemonIcon {
    vertical-align: middle;
  }

  .PokemonIcon {
    display: inline-block;
    width: 40px;
  }
}

// item
.EggReward {
  display: block;

  padding: 20px;
  margin: 0 10px 20px;

  background: #fff;

  border-radius: 4px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.117647),
              0px 1px 4px rgba(0, 0, 0, 0.117647);

  transition: all 0.3s ease-out;

  // STATE: hover
  &:hover {
    box-shadow: 0px 27px 30px -20px rgba(0, 0, 0, 0.3);
  }

  // responsiveness
  @include toWidth(768px) {
    .GridCell {
      margin: 0 auto;
    }
  }

  @include fromWidth(768px) {
    padding: 30px;
  }
}

.EggReward-Km {
  display: inline-block;
  margin-bottom: 20px;

  color: magenta;

  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase;

  span {
    font-size: 40px;
  }

  // themes
  &--2 { color: #2196f3; }
  &--5 { color: #f57c00; }
  &--10 { color: #d32f2f; }
}

.EggReward-Pokemon {
  display: inline-block;
  margin-bottom: 15px;

  text-align: center;

  font-size: 12px;

  .PokemonIcon {
    display: inline-block;
    width: 60px;
  }

  span {
    display: block;

    // margin-top: 5px;

    padding: 5px;
    border-radius: 4px;

    color: #fff;
    background: #ccc;

    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  }

  // responsiveness
  @include fromWidth(600px) {
    .PokemonIcon {
      width: 80px;
    }
  }

  @include fromWidth(1024px) {
    .PokemonIcon {
      width: 90px;
    }
  }
}
