// Vendor libs
@import 'vendor'; // @TODO: check why Webpack includes 2x normalize.css

// Toolkit
@import "tools/mixins";
@import "tools/helpers";

// Common global + layout
@import 'common/global';
@import 'common/layout';

.debug {
  position: absolute;
  bottom: 20px;
  right: 20px;

  padding: 20px;
  color: #fff;
  background: #f00;
}
