//
//  App common layout
//
body {
  position: relative;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  background: #eee;
}

.Page {
  position: relative;
}

.img-fluid {
  display: block;
  max-width: 100%;
  height: auto;
}

.FBLike {
  position: absolute;
  top: 10px;
  left: 10px;
}
