.PokedexPage {
  text-align: center;
}

.PokedexPage-Tip {
  margin-top: 30px;

  font-size: 14px;
  font-style: italic;
  color: #bbb;
}

.Pokepedia-Header {
  padding: 70px 0 50px;
}

.Pokepedia-Footer {
  padding: 30px;

  font-size: 12px;
  font-style: italic;
  color: #ccc;
}

.Pokepedia-Logo {
  position: relative;
  display: inline-block;

  .Pokepedia-Name {
    margin: 0;
    padding: 0;

    font-size: 34px;
    font-weight: 300;
  }

  .Pokepedia-Version {
    position: absolute;
    top: 0;
    right: -20px;

    color: magenta;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
  }
}
